<ion-header>
  <ion-toolbar>
    <ion-title>Nueva cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <ion-item>
        <ion-searchbar [formControl]="searchField" placeholder="Buscar cliente"></ion-searchbar>
      </ion-item>

      <ion-list [hidden]="!showList">
        <ion-item *ngFor="let owner of ownersOptions$ | async" (click)="loadPets(owner)">
          <ion-label>
            <ion-text color="primary">
              <h2>{{ owner.name }}</h2>
            </ion-text>
            <p *ngIf="owner.cellPhone">Cel: {{ owner.cellPhone }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <form [formGroup]="formNewSchedule">


        <ion-item>
          <ion-label>Mascota</ion-label>
          <ion-select okText="Elegir" cancelText="Cancelar" [disabled]="pets.length < 1" formControlName="input_pet">
            <ion-select-option *ngFor="let pet of pets" [value]="pet"> {{pet.name}}</ion-select-option>
          </ion-select>
        </ion-item>



        <ion-item>
          <ion-label>Fecha y hora</ion-label>
          <ion-datetime month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dec"
            cancel-text="Cancelar" done-text="Elegir" formControlName="input_date" display-format="DD MMM h:mm A">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-select okText="Elegir" cancelText="Cerrar" formControlName="input_category">
            <ion-select-option value="completo">Completo (1h)</ion-select-option>
            <ion-select-option value="unas">Uñas (15m)</ion-select-option>
            <ion-select-option value="motilar">Motilar (30m)</ion-select-option>
          </ion-select>
        </ion-item>

      </form>


      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" (click)="close()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" [disabled]="!formNewSchedule.valid" (click)="save()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>



</ion-content>