<ion-header>
  <ion-toolbar color="pink">
    <ion-title class="ion-text-center">Cita de {{ schedule.event.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="Cita" class="ion-text-capitalize">
      Cita
    </ion-segment-button>
    <ion-segment-button value="Anteriores" class="ion-text-capitalize">
      Anteriores
    </ion-segment-button>
  </ion-segment>

  <span [ngSwitch]="segment">

    <!--Segmento cita-->
    <div *ngSwitchCase="'Cita'">

      <ion-card>
        <ion-card-content>

          <ion-item *ngIf="ownerData">
            <ion-label>
              <p> {{ ownerData.name }}</p>
              <p>Tel: {{ ownerData.cellPhone  }} / {{ ownerData.phone  }}</p>
              <p *ngIf="ownerData.note">
                <ion-note> {{ ownerData.note }} </ion-note>
              </p>
            </ion-label>
          </ion-item>


          <ion-item *ngIf="petData">
            <ion-avatar slot="start">

              <img *ngIf="petData.photo" [src]="petData.photo" />
              <img *ngIf="!petData.photo" src="assets/petx64.png" />
            </ion-avatar>
            <ion-label>
              <h3>{{ petData.name }}</h3>
              <p>{{petData.race}} - {{petData.size}}</p>
              <p>{{petData.genere}} - <span *ngIf="petData.ago"> {{ petData.ago }} </span></p>
              <p *ngIf="petData.note">
                <ion-note> {{ petData.note }} </ion-note>
              </p>
            </ion-label>
          </ion-item>

          <form [formGroup]="formDetail">

            <ion-item>
              <ion-label>Fecha y hora</ion-label>
              <ion-datetime month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dec"
                cancel-text="Cancelar" done-text="Elegir" formControlName="input_date" display-format="DD MMM h:mm A">
              </ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Categoría</ion-label>
              <ion-select okText="Elegir" cancelText="Cerrar" formControlName="input_category">
                <ion-select-option value="completo">Completo (1h)</ion-select-option>
                <ion-select-option value="unas">Uñas (15m)</ion-select-option>
                <ion-select-option value="motilar">Motilar (30m)</ion-select-option>
              </ion-select>
            </ion-item>

          </form>

          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button color="danger" fill="clear" expand="block" (click)="cancelConfirm()">Cancelar cita
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button color="primary" fill="clear" expand="block" [disabled]="!formDetail.valid"
                  (click)="editar()">Editar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>


      <div class="ion-padding-top">

        <ng-container *ngFor="let photo of photos">

          <ion-img class="image" [src]="photo.url"></ion-img>
          <ion-item>
            <ion-label>
              <ion-button (click)="eliminarFoto(photo)" color="danger" fill="clear" expand="block">
                Eliminar foto
              </ion-button>
            </ion-label>
          </ion-item>
        </ng-container>



      </div>



    </div>

    <!--Segmento anteriores-->
    <div *ngSwitchCase="'Anteriores'">

      <div *ngIf="oldSchedules.length < 1" class="ion-padding">
        <h2>
          Sin registros previos
        </h2>
      </div>

      <ng-container *ngIf="oldSchedules.length >= 1">

        <ion-list>

          <ion-item-group *ngFor="let item of oldSchedules">
            <ion-item-divider>
              <ion-label>{{ convertDate(item.date)  }}</ion-label>
            </ion-item-divider>

            <ion-item>


              <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let photo of item.photos">
                  <img [src]="photo.photo">
                </ion-slide>
              </ion-slides>



            </ion-item>
          </ion-item-group>

        </ion-list>

      </ng-container>


    </div>


  </span>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="segment == 'Cita'">
    <ion-fab-button (click)="selectOriginPhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button fill="clear" (click)="close()">
      cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>