<ion-header>
  <ion-toolbar>
    <ion-title>Nueva mascota de Juan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <img class='img-card' [src]="photo" />

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre*</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Genero</ion-label>
          <ion-select placeholder="Elige...">
            <ion-select-option value="macho">Macho</ion-select-option>
            <ion-select-option value="hembra">Hembra</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Raza</ion-label>
            <ion-select okText="Elegir" cancelText="Cerrar">
              <ion-select-option value="Husky">Husky</ion-select-option>
              <ion-select-option value="Alaska">Alaska</ion-select-option>
              <ion-select-option value="Mestizo">Mestizo</ion-select-option>
            </ion-select>
          </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" (click)="close()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" (click)="save()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
