<ion-header>
  <ion-toolbar color="pink">
    <ion-title>Nueva mascota de {{ nameOwner }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical>
  <ion-card>
    <img class='img-card' [src]="photo" (click)="selectOriginPhoto()" />

    <ion-card-content>

      <form [formGroup]="formNewPet">
      <ion-item>
        <ion-label position="floating">Nombre*</ion-label>
        <ion-input type="text" formControlName="input_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tamaño</ion-label>
        <ion-select placeholder="Elige..." okText="Elegir" cancelText="Cerrar" formControlName="input_size">
          <ion-select-option value="pequeño">Pequeño</ion-select-option>
          <ion-select-option value="mediano">Mediano</ion-select-option>
          <ion-select-option value="grande">Grande</ion-select-option>
          <ion-select-option value="gigante">Gigante</ion-select-option>

        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Genero</ion-label>
        <ion-select placeholder="Elige..." okText="Elegir" cancelText="Cerrar" formControlName="input_genere">
          <ion-select-option value="macho">Macho</ion-select-option>
          <ion-select-option value="hembra">Hembra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Raza</ion-label>
        <ion-select placeholder="Elige..." okText="Elegir" cancelText="Cerrar" formControlName="input_race">
          <ion-select-option value="Husky">Husky</ion-select-option>
          <ion-select-option value="Alaska">Alaska</ion-select-option>
          <ion-select-option value="Mestizo">Mestizo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime month-short-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dec"
          display-format="MMM DD, YYYY" cancel-text="Cancelar" done-text="Elegir" formControlName="input_birthday"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label position="floating" >Nota</ion-label>
        <ion-textarea formControlName="input_note"></ion-textarea>
      </ion-item>

    </form>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" (click)="close()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" [disabled]="!formNewPet.valid" (click)="save()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>