<ion-header>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mascotas de {{ ownerName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let pet of pets" (click)="detailPet()">
      <ion-avatar slot="start">

        <img *ngIf="pet.photo" [src]="pet.photo" />
        <img *ngIf="!pet.photo" src="assets/petx64.png" />
      </ion-avatar>
      <ion-label>
        <h3>{{ pet.name }}</h3>
        <p>{{pet.race}} - {{pet.size}}</p>
        <p>{{pet.genere}} - <span *ngIf="pet.ago" > {{ pet.ago }} </span></p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>