<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Macotas de {{ ownerName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="dateilPet()">
      <ion-avatar slot="start">
        <img src="https://api.adorable.io/avatars/285/abott@adorable.png" />
      </ion-avatar>
      <ion-label>
        <h3>Romeo</h3>
        <p>Mestizo - Pequeño</p>
        <p>Macho - 2 años</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
