<ion-header>
  <ion-toolbar color="pink">
    <ion-title>Nuevo cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formNewOwner">
        <ion-item>
          <ion-label position="floating">Nombre*</ion-label>
          <ion-input type="text" formControlName="input_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" formControlName="input_email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="tel" formControlName="input_cellPhone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" formControlName="input_phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input type="text" formControlName="input_address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nota</ion-label>
          <ion-textarea formControlName="input_note"></ion-textarea>
        </ion-item>
      </form>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" (click)="close()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" [disabled]="!formNewOwner.valid" (click)="save()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
